astroid==2.3.2
attrs==19.1.0
autopep8==1.4.4
awscli==1.16.265
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
beautifulsoup4==4.8.1
botocore==1.13.1
bs4==0.0.1
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
check50==3.0.9
Click==7.0
colorama==0.4.1
compare50==1.1.2
cryptography==2.8
cs50==4.0.2
cssselect2==0.2.2
cycler==0.10.0
defusedxml==0.6.0
docutils==0.15.2
EditorConfig==0.12.2
Flask==1.1.1
Flask-Session==0.3.1
gunicorn== 19.9.0
help50==3.0.0
html5lib==1.0.1
icdiff==1.9.1
idna==2.8
ikp3db==1.4.1
intervaltree==2.1.0
isort==4.3.21
itsdangerous==1.1.0
jellyfish==0.7.2
Jinja2==2.10.3
jmespath==0.9.4
jsbeautifier==1.10.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
lib50==2.0.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
natsort==6.0.0
nltk==3.4.5
numpy==1.17.3
oauthlib==3.1.0
pandas==0.25.2
pexpect==4.7.0
psycopg2
Pillow==8.3.2
plotly==4.2.1
ptyprocess==0.6.0
pyasn1==0.4.7
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.7.4
pylint==2.4.3
pylint-django==2.0.11
pylint-flask==0.6
pylint-plugin-utils==0.6
pyparsing==2.4.2
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.8.0
python-magic==0.4.15
pytz==2019.3
PyYAML==5.4
render50==3.1.3
requests==2.22.0
requests-oauthlib==1.2.0
retrying==1.3.3
rsa==4.1
s3transfer==0.2.1
six==1.12.0
sortedcontainers==2.1.0
soupsieve==1.9.4
SQLAlchemy==1.3.10
sqlparse==0.3.0
style50==2.7.4
submit50==3.0.2
termcolor==1.1.0
tinycss2==1.0.2
tqdm==4.36.1
twython==3.7.0
typed-ast==1.4.0
urllib3==1.25.6
virtualenv==16.7.7
WeasyPrint==49
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
